    <!DOCTYPE html>
    <html>
    <head>
        <title>Real-Time Blog</title>
        <script src="https://cdn.socket.io/4.7.5/socket.io.min.js"></script>
    </head>
    <body>
        <h1>Real-Time Blog</h1>
        <input id="username" placeholder="Enter your name"/>
        <button onClick="sendName()">Send Name</button>
        <input id="msg" autocomplete="off" placeholder="Type a message..."/>
        <button onclick="sendMessage()">Send Message</button>
        <ul id="messages"></ul>
        <script>
            var socket = io();

            socket.on('message', function(msg) {
                var item = document.createElement('li');
                item.textContent = msg;
                document.getElementById('messages').appendChild(item);
            });

            function sendMessage() {
                var input = document.getElementById('msg');
                var username = document.getElementById('username').value || 'Anonymous';
                var message = username + ': ' + input.value;
                socket.emit('message', message);
                input.value = '';
            }

        
        </script>
        <h2 style="margin-top: 5px;text-align: right;">New Blog Posts!</h2>
    </body>

    </html>